{% extends "layout.twig" %}

{% import "macro.input.twig" as input %}
{% import "macro.item.twig" as add_item_form %}

{% block content %}

	<h2>Edit Delivery</h2>

	<form action="{{ form_action }}" method="post" class="form-create-delivery">
		<fieldset>
			
			<div class="span-20 last">
				<div class="span-4">
					<h3>Sender</h3>
		
						{{ input.address("from", delivery.from_address) }}
				</div>
		
				<div class="span-4 last">
					<h3>Recipient</h3>
		
					{{ input.address("to", delivery.to_address) }}
				</div>
				
				<div class="prepend-2 span-10 last">
					<h3>Items</h3>
					
					<table id="item-list">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>View</th>
							</tr>
						</thead>
						<tbody>
							{% for item in delivery.items %}
							<tr>
								<td>{{ item.id }}</td>
								<td>{{ item.name }}</td>
								<td><a href="/item/view/{{ item.id }}">View</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
					<div>
						<a href="" class="add-item-to-delivery">Add new item to delivery</a>
					</div>
					
				</div>
				
			</div>
		
			<div class="first">
				<input class="create-delivery-button" type="submit" value="Save changes" />
			</div>
		
		</fieldset>
	</form>
	
	<div class="add-item-form" style="display: none">{{ add_item_form.addItemForm() }}</div>
{% endblock %}