{% extends "layout.twig" %}

{% import "macro.input.twig" as input %}
{% import "macro.item.twig" as add_item_form %}

{% block content %}

	<h2>Create Delivery</h2>
	<form action="{{ form_action }}" method="post" class="form-create-delivery">
		<fieldset>
			
			<div class="span-20 last">
				<div class="span-6">
					<h3>Sender</h3>
						{{ input.address("from", delivery.fromAddress, errors) }}
				</div>
		
				<div class="span-6 last">
					<h3>Recipient</h3>
					{{ input.address("to", delivery.toAddress, errors) }}
				</div>
				<div class="prepend-1 span-6{% if errors %} error{% endif %} last">{% if errors %}Please correct the highlighted Entries{% endif %}</div>
				<div class="span-20 last">
					<h3>Items</h3>
					
					<table id="item-list">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>View</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{% for item in delivery.items %}
								<tr class="persistent">
									<td class="item-id">{{ item.id }}</td>
									<td>{{ item.name }}</td>
									<td><a href="/item/view/{{ item.id }}">View</a></td>
									<td><a href="" class="remove-item-from-delivery">Remove</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					
					<div>
						<a href="" class="add-item-to-delivery">Add new Item</a>
					</div>
				</div>
			</div>
			<div class="first">
				<input class="create-delivery-button" type="submit" value="Create Delivery" />
			</div>
		
		</fieldset>
	</form>
	
	<div class="add-item-form" style="display: none">{{ add_item_form.addItemForm() }}</div>
{% endblock %}