{% extends "layout.twig" %}

{% macro address(value) %}
	{{ value.name }}<br />
	<small>({{ value.street }}, {{ value.zip }} {{ value.city }} - {{ value.country }})</small>
{% endmacro %}

{% block content %}

	<h2>List of Deliveries</h2>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>From</th>
				<th>To</th>
				<th>View</th>
			</tr>
		</thead>
		{% for delivery in delivery_list %}
			<tr>
				<td><code>{{ delivery.value.id }}</code></td>
				<td>{{ _self.address(delivery.value.from) }}</td>
				<td>{{ _self.address(delivery.value.to) }}</td>
				<td><a href="/item/view/{{item.value.barcode}}">View</a></td>
				<td><a href="/log/list/{{item.value.barcode}}">Logs</a></td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}