{% extends "layout.twig" %}

{% block content %}

<h2>{{ item.name }}</h2>

<p>
	ID: <code>{{ item.id }}</code><br />
	Mininum Temperature: {{ item.tempMin }}<br />
	Maximum Temperature: {{ item.tempMax }}
</p>

<p>
	<a href="/item/edit/{{ item.id }}">Edit</a><span>&nbsp;</span>
	<a href="/log/list/{{ item.id }}">View Logs</a>
</p>

<img src="{{ item.image }}" />

{% endblock %}