{% extends "layout.twig" %}

{% block content %}

<h2>{{ item.name }}</h2>

<p>
	ID: <code>{{ item.id }}</code><br />
	TempMin: {{ item.tempMin }}<br />
	TempMax: {{ item.tempMax }}
</p>

<p>
	<a href="/log/list/{{ item.id }}">View Logs</a>
</p>

<img src="{{ item.image }}" />

{% endblock %}