{% macro address(name, street, zip, city, country) %}

<div class="span-4 address-block">
	<p>{{ name }}<br />
	{{ street }}<br />
	{{ country }} - {{ zip }} {{ city }}</p>
</div>

{% endmacro %}

{% macro addressprint(name, street, zip, city, country) %}

<div style="width: 100%;">
	<p>{{ name }}<br />
	{{ street }}<br />
	{{ country }} - {{ zip }} {{ city }}</p>
</div>

{% endmacro %}