{% macro addContainerForm(form_action, container, errors) %}
	<form class="form-create-container" action="{{ form_action }}" method="post">
		<fieldset>
			{{ _self.unitInputs('',errors) }}
			{{ _self.sensorBlock() }}
			{{ _self.submitButton("Create Transport Unit") }}
		</fieldset>
	</form>
{% endmacro %}

{% macro editContainerForm(form_action, container, errors) %}
	<form class="form-create-container" action="{{ form_action }}" method="post">
		<fieldset>
			{{ _self.unitInputs(container.name, errors) }}
			{{ _self.sensorBlock(container.sensors) }}
			{{ _self.submitButton("Save Transport Unit") }}
		</fieldset>
	</form>
{% endmacro %}

{% macro submitButton(text) %}
	<div class="span-16">
		<input class="create-container-button" type="submit" value="{{ text }}" />
	</div>
{% endmacro %}

{% macro unitInputs(name, errors) %}
	<div class="span-10">
		<h3>Unit</h3>
		<div {% if errors['container-name'] is defined %} class="error" {% endif %}>
			<label for="name">Name</label></ br>
			<input class="input-name required" type="text" value="{{ name }}" name="name" />
		</div>
	</div>
{% endmacro %}

{% macro sensorBlock(sensors) %}
	<div class="prepend-1 span-10 last">
		<h3>Sensors</h3>
		
		<table id="sensor-list">
			<thead>
				<tr>
					<th>URI</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for sensor in sensors %}
					<tr id="sensor-{{ loop.index }}" class="persistent">
						<td class="sensor-uri">{{ sensor }}</td>
						<td><a href="" class="remove-sensor-from-container">Remove</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div>
			<a href="" class="add-sensor-to-container">Add Sensor</a>
		</div>
	</div>
{% endmacro %}

{% macro addSensorForm() %}
	<form name="add-sensor-form">
		URI</ br>
		<input class="input-uri" type="text" value="" name="uri" />
		<input class="create-sensor-button" type="submit" value="Create Sensor" />
	</form>
{% endmacro %}