{% macro input(name, type, value) %}
	<input type="{{ type }}" value="{{ value }}" name="{{ name }}" />
{% endmacro %}

{% macro address(name, value, errors) %}

<div class="{% if errors[name ~ '-name'] is defined %} error{% endif %}">
	<label for="{{name}}[name]">Name</label><br />
	<input class="required" type="text" value="{{ value.name }}" name="{{name}}[name]" />
</div>

<div class="{% if errors[name ~ '-street'] is defined %} error{% endif %}">
	<label for="{{name}}[street]">Street</label><br />
	<input class="required" type="text" value="{{ value.street }}" name="{{name}}[street]" />
</div>

<div class="{% if errors[name ~ '-zip'] is defined %} error{% endif %}">
	<label for="{{name}}[zip]">Zip</label><br />
	<input class="required" type="text" value="{{ value.zip }}" name="{{name}}[zip]" />
</div>
<div class="{% if errors[name ~ '-city'] is defined %} error{% endif %}">
	<label for="{{name}}[city]">City</label><br />
	<input class="required" type="text" value="{{ value.city }}" name="{{name}}[city]" />
</div>
<div class="{% if errors[name ~ '-country'] is defined %} error{% endif %}">
	<label for="{{name}}[country]">Country</label><br />
	<input class="required" type="text" value="{{ value.country }}" name="{{name}}[country]" />
</div>

{% endmacro %}